
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

body{
    font-family: 'NanumSquareRound', sans-serif;
    width: 100%;
    max-width: 1760px;
    min-width: 1280;
    margin: 0 auto;
}
p{
    padding: 0;
    margin:0;
}

ul, li{list-style: none;}
h4{
    margin: 0;
}

header{
 background-color: #60BEEE;
 width:100%;
 height: 62px;
 display: flex;
 justify-content: space-between;
 align-items: center; 
}
.header_left{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.header_right{
    margin-right: 30px;
}
.header_left > h4{
font-size: 28px;
color: #fff;
margin-left: 15px;
text-shadow: 2px 2px 2px rgb(22, 157, 224);
}
section{
    max-width: 1760px;
    width: 100%;
    overflow: visible !important;
}
.sec_title > h2 {
    font-size: 44px;
    display: flex;
    margin-left: 46px;
    font-weight: 800;
    margin-top: 40px;
}
.sec_title > h2 > span{
    color: #E36551;
    display: block;
    margin-right: 26px;
}

.contents_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.con_left{
    width: 35%;
    flex:2;
}
.con_center{
    width: 20%;
    box-sizing: border-box;
    overflow: hidden;
    background: url(../images/middle_box.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    flex: 1;
}
.con_center > h5{
    font-size: 1.7rem;
    color: #fff;
    position: absolute;
    top: 74px;
    left: 56px;
}
.con_right{
    width: 35%;
    flex: 2;
}
.con_center>img{
    display: block;
    width:90%;
}
.con_left > ul > li{
    text-align: center;
    padding: 30px;
}
.con_left > ul > li:first-child{
    width: 90%;
    height: 325px;
    background: url(../images/box1.png) -40px ;
    background-repeat: no-repeat;
    background-size: contain;
    
}
.con_left > ul > li:last-child{
    width: 85%;
    height: 325px;
    background: url(../images/box2.png) 0px ;
    background-repeat: no-repeat;
    background-size: contain;
}

.li_back_img > h4{
    font-size: 2.18rem;
    margin: 40px 0 20px ; 
}
.con_left > ul > li:last-child >h4{
    margin: 20px 0 20px ; 
}

.figure_box{
    margin-left: 30px;
    justify-content: start;
    display: flex;
    align-items: center;
}
.figure_box >img{
    margin-right: 20px;
}
.figure_box> span{
    font-size: 1.87rem;
    font: 400;
}
.li_back_img > textarea{
    margin-top: 30px;
    width: 80%;
    height: 35%;
}


.con_right > ul > li{
    text-align: center;
    padding: 30px;
}
.con_right > ul > li:first-child{
    width: 90%;
    height: 325px;
    background: url(../images/box3.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.con_right > ul > li:last-child{
    width: 90%;
    height: 325px;
    background: url(../images/box4.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.con_right > ul > li:last-child>h4{
    margin: 20px 0 20px;
}